h1,h2,h3,h4,h5,h6 {
    color: gray;
  }
.warn{
    color:#f39c12;
}
.danger{
    color:#e74c3c;
}
.safe{
    color:#27ae60;
}
.blue{
    color:#3498db;
}
table {
    width: 100%;
  }
  th{
      color:gray
  }
  .footer {
   
    left: 0;
    bottom: 0;
    width: 100%;
    position: bottom;
    
    text-align: center;
 }
 .fa-xs	{
     font-size: 0.70em;
 }
 
 .cool-link3 {
    display: inline-block;
    color: #5AA8FB;
    text-decoration: none;
  }
  .cool-link3::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #5AA8FB;
    transition: width .3s;
  }
  
  .cool-link3:hover::after {
    width: 100%;
    
  }
  agm-map { height: 300px; /* height is required */ }

  .ptUM8e {
    font-size: 14px;
    margin: auto;
    display: inline-block;
    text-align: left;
    padding: 0 16px 0 37px;
  }
  .WEmQFe {
    padding-bottom: 5px;
}
.cu62s {
  color: #e94235;
  font-weight: bold;
  display: inline-block;
  width: 10px;
  text-align: center;
  margin-left: -21px;
}
.V4tsWe {
  color: black;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 4px;
}
.aeYe9b {
  color: black;
  line-height: 20px;
}
.floatLeft {  float: left; }
.floatRight { float: left; }
.container { overflow: hidden; }